<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employee | async">
      <td>{{ employee.id }}</td>
      <td>{{ employee.name }}</td>
      <td>{{ employee.email }}</td>
      <td>
        <button
          type="button"
          class="btn btn-primary"
          (click)="updateemp(employee.id, employee.name, employee.email)"
        >
          Update
        </button>
        <button
          type="button"
          class="btn btn-danger"
          (click)="deleteemp(employee.id)"
        >
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>
<table>
  <tr *ngFor="let emp of emp">
    <td>{{ emp.emp_id }}</td>
    <td>{{ emp.empname }}</td>
    <td>{{ emp.email }}</td>
  </tr>
</table>
